

<div id="main-wrapper">
	<div id="content-wrapper">
		<img src="img/cheatheader.png" />
		<article>
		<!--
		<div id="video_wrapper_sas">
		<object width="640" height="403" type="application/x-shockwave-flash" id="catchUpPlayer" data="http://www.channel4.com/static/programmes/asset/flash/swf/4odplayer-11.49.2.swf"><param name="align" value="top"><param name="scale" value="noscale"><param name="salign" value="lt"><param name="allowFullScreen" value="true"><param name="bgcolor" value="#000000"><param name="allowScriptAccess" value="always"><param name="wmode" value="opaque"><param name="flashvars" value="preSelectAsset=3599803&amp;overRideIA=true&amp;tracking_n=true&amp;tracking_c=true&amp;tracking_b=true&amp;tracking_v=true&amp;extrasContractIDs=53083&amp;afterLogin=C4.My4oD.Controller.onFlashLogin&amp;lst=1"></object>
		</div>
		-->
			<section>
			<div id="feedback"></div>
				<div class="container">
					<video id="monitor" autoplay></video>
				</div>
			</section>
			<section id="iframe_player_wrapper">
				<iframe id="iframe_player" src="http://www.channel4.com/programmes/grand-designs/4od#3599803"></iframe>

			</section>
			<div id="gif" style="position:absolute; top:600px; left:50px;">
				<p ID="doneBut" style="color:#fff;  cursor:pointer; font-family:Trebuchet MS; font-size:12px" >Done</p>
			</div>
			<div id="gallery"></div>
			
			<!--section id="reaction_bar">
				<span data-emotion="Love">Love <span class="count">0</span></span>
				<span data-emotion="bored">Bored <span class="count">0</span></span>
				<span data-emotion="worried">Worried <span class="count">0</span></span>
				<span data-emotion="surprised">Surprised <span class="count">0</span></span>
				<span data-emotion="angry">Angry <span class="count">0</span></span>
				<span data-emotion="hate">Hate <span class="count">0</span></span>
			</section-->
			
			
			<!--section id="tweet_this">
				<a class="twitter-timeline" href="https://twitter.com/search?q=%23MadeInChelsea" data-widget-id="401324364416577536">Tweets about "#MadeInChelsea"</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</section-->
			
			<div class="spacer"></div>
			
		</article>
		<canvas id="photo"></canvas>
		<canvas id="photo_small"></canvas>
	</div>
</div>


<script type="text/javascript" src="js/LZWEncoder.js"></script>
<script type="text/javascript" src="js/NeuQuant.js"></script>
<script type="text/javascript" src="js/GIFEncoder.js"></script>
<script type="text/javascript" src="js/b64.js"></script>
<script src="js/jquery-2.0.3.js"></script>
<script>

$(document).ready(function() { 

	navigator.getUserMedia = navigator.webkitGetUserMedia || navigator.getUserMedia;
	window.URL = window.URL || window.webkitURL;
	
	var video = document.getElementById('monitor');
	var canvas = document.getElementById('photo');
	var canvas_small = document.getElementById('photo_small');
	var context = canvas.getContext('2d');
	var context_small = canvas_small.getContext('2d');
	var intervalId = null;
	var screenshotInterval = 100;
	var episodeId = '3584876'; // pull this in from the hash tag 
	var inIframe = false;
	var recognitionUrl = "http://rekognition.com/func/api/?api_key=VBJJDNREEmIz2euG&api_secret=je0VLzJU8fqF1R2z&jobs=face_emotion";
	var emotionThreshold = 0.2;
	var ready = false; 
	var episodeEmotionThreshold = 5;
	var maxEpisodeHighlights = 10;
	var primpedEpisodeData;
	var readyToGo = false;
	var startTime;
	var currentMoment = 0;

	var postImageUrl = "http://localhost:3000/save-image";
	var urlStub = "http://localhost:3000";

	var twitterButtonHTML = '<iframe allowtransparency="true" frameborder="0" scrolling="no" src="https://platform.twitter.com/widgets/tweet_button.html[query]" style="width:130px; height:20px;"></iframe>';

	loadEpisodeProfile();
	setInterval(checkClick, 200);
	$('body').on('click', 'img', detectEmotion);
	$('#reaction_bar span').click(registerEmotion);
	$('#doneBut').click(makeGif);

	function loadEpisodeProfile() {
		$.ajax({
         url:    'http://localhost:3000/feed.json', // TODO send episode id & threshold, switch to service
     //    url:    'http://localhost:3000/sentiment/3584876/5', // TODO send episode id & threshold, switch to service
         success: function(data) {
					var episodeData = data;

					setEpisodeHighlights(episodeData);
                  },
         async:   false
    }); 
		
	}
	
	// because of the amount of 'highpoints' in an episode can
	// vary significantly, lets level this out a bit. 
	// set a max number of highlights
	function setEpisodeHighlights(episodeData) {
		//alert('e1');
		episodeData.sort(momentsSortingFunction);
		if (episodeData.length > maxEpisodeHighlights) 
		{
			episodeData = episodeData.slice(0, maxEpisodeHighlights);
		}	
		//alert('e2');
		episodeData = episodeData.sort(momentsSortingFunctionTime);
		//alert('e3');
		primpedEpisodeData = episodeData;	
		//alert('e4');
		//alert(episodeData);
		readyToGo = true;
	}
	
	// sorting by highest score
	function momentsSortingFunction(a, b) { 
		if (a.score < 0) { // we don't care if bad or good, as long as strong
			a.score = a.score *-1;	// TODO switch to bitwise		
		}
		if (b.score < 0) {
			b.score = b.score *-1;			
		}
		return b.score - a.score;
		
	}
	
	// sorting by chronological
	function momentsSortingFunctionTime(a, b) { 
		return a.startTime - b.startTime;
	}
	
	function gotStream(stream) {
		//alert('stream');
	
		video.src = window.URL.createObjectURL(stream);
			
		video.onerror = function(e) {
			stream.stop();
		};
		
		stream.onended = noStream;
	
		video.addEventListener('loadedmetadata', function() {
			ratio = video.videoWidth / video.videoHeight;
			// w = video.videoWidth - 100;
			// h = parseInt(w / ratio, 10);
			w = 480;
			h = 270;
			canvas.width = w;
			canvas.height = h;
			w_small = 160;
			h_small = 90;
			canvas_small.width = w_small;
			canvas_small.height = h_small;
			var date = new Date();
			startTime = date.getTime(); // set the time we started this
			capture(); // start capturing the video screenshots
		}, false);
	
	}
	
	function noStream(e) {
		var msg = 'No camera available.';
		if (e.code == 1) {
			msg = 'User denied access to use camera.';
		}
		document.getElementById('feedback').textContent = msg;
	}
	
	function capture() {
		//alert('capture');
		if (intervalId) {
			clearInterval(intervalId);
			intervalId = null;
			return;
		}
		intervalId = setInterval(function() {
		//	alert('sas1');
			// check if we're within 100 ms of our check point
			// if so take a pic!
			var date = new Date();
			var currentTime = date.getTime() - startTime;
			/*
alert(primpedEpisodeData);
						alert(primpedEpisodeData);
									alert(primpedEpisodeData);
			alert(primpedEpisodeData[currentMoment].startTime);
			alert('sas3');
			console.log(currentTime);
*/
			//console.log(primpedEpisodeData[currentMoment].startTime);
			if ( currentMoment+1 < primpedEpisodeData.length && primpedEpisodeData[currentMoment].startTime >= currentTime-100 
					&& primpedEpisodeData[currentMoment].startTime <= currentTime+100  )
				{
					//askOpinion();
					savePicture(currentMoment);
					currentMoment++;
				}
		}, screenshotInterval);
	}
	
/*
	function askOpinion() {
		if (!$('#reaction_bar').is(':visible')) {
			$('#reaction_bar').fadeIn();	
		}
		
	}
*/
	function registerEmotion() {
		//e.preventDefault();
		var emotion = $(this).data('emotion');
		// what am i doing with this emotion?
		
		
		
		return false;
	}
	
	
	function savePicture(thisCurrentMoment) {
		context.fillRect(0, 0, w, h);
		context_small.fillRect(0, 0, w_small, h_small);
		context.drawImage(video, 0, 0, w, h);
		context_small.drawImage(video, 0, 0, w_small, h_small);
		
		var div = document.createElement('div');
		var p = document.createElement('p');
		var img = document.createElement('img');
		var img_small = document.createElement('img_small');

		img.src = canvas.toDataURL('image/png');
		img_small.src = canvas.toDataURL('image/png');
		
		// get emotion
		detectEmotion(img_small, primpedEpisodeData[thisCurrentMoment].subtitle);
		// get line
		p.innerHTML = primpedEpisodeData[thisCurrentMoment].subtitle;
		gallery.appendChild(div);
		div.appendChild(img);	
		div.appendChild(img_small);	
		div.appendChild(p);
			
	}
	
	function init(el) {
		if (!navigator.getUserMedia) {
			document.getElementById('feedback').innerHTML = 'navigator.getUserMedia() is not available.';
			return;
		}
		video.hidden = 'true';		// doesn't need to be visible
		navigator.getUserMedia({video: true}, gotStream, noStream);
	}
	
	
	// iframe click capturing, kinda
	function checkClick() {
	    if (document.activeElement 
	      && document.activeElement === document.getElementById("iframe_player")) {
	        if (inIframe == false) {
	            inIframe = true;
	            init(); // TODO: will refire, lock this so it only happens once 
	        }
	    } else {
	        inIframe = false;
	    }
	}
	
	// this is going to return either an array of emotions
	// or false if they're emotionless or nothing strong enough
	function detectEmotion(img_small, subtitle){
		var htmlImgElement = this;
		var registeredEmotion = '';
		var base64Img = img_small.src.replace(/^data:image\/(png|jpg);base64,/, "");
		var postData = {base64:base64Img};
		
		$.post( recognitionUrl, postData, function( data ) {
			var jsonResult = $.parseJSON(data);
			if (typeof jsonResult.face_detection[0] !== 'undefined') { 
				var emotion = jsonResult.face_detection[0].emotion;
				var props = Object.getOwnPropertyNames(emotion);
				if (emotion[props] >= emotionThreshold) {
					registeredEmotion = props[0];
/* 					console.log(props[0]); */
					var p = document.createElement('p');
					p.innerHTML = props[0];
					img_small.parentNode.appendChild(p);
					// TODO: What're we doing with this emotion?
					registeredEmotion = props[0];
					
					if (registeredEmotion=="sad"){
					 	emoticon = ":(";
					} else if (registeredEmotion=="happy"){
						emoticon = ":)";
					} else if (registeredEmotion=="angry"){
						emoticon = ">:(";
					} else if (registeredEmotion=="surprised"){
						emoticon = "=:O";
					} else {
						emoticon = registeredEmotion;
					}
					addImage(base64Img, "\""+subtitle+"\"", emoticon, img_small);
			
		
				}
				
/* 				$(htmlImgElement).after('<span>'+props[0]+'</span>'); */

				//{"url":"base64_G6uoVT.jpg","face_detection":[{"boundingbox":{"tl":{"x":47.69,"y":12.31},"size":{"width":61.54,"height":61.54}},"confidence":1,"pose":{"roll":1.08,"yaw":3.65,"pitch":-7.47},"emotion":{"happy":0.8},"smile":0.43}],"ori_img_size":{"width":160,"height":90},"usage":{"quota":39923,"status":"Succeed.","api_id":"VBJJDNREEmIz2euG"}} 
			}
		});

	}
	
	
	
	function addImage(base64ImgData, subtitleText, emotion, img_small){
		// add to page
/* 		$('#imgList').append('<img src="data:image/png;base64,'+base64ImgData+'"/><p>'+subtitleText+'</p><p>Your reaction: '+emotion+'</p>'); */

		// post to backend and get url
		var postData = {image:base64ImgData,extension:"png"};
		
		$.post( postImageUrl, postData, function( jsonResult ) {
			
			// add tweet button
			var newImgUrl = urlStub+jsonResult.url;
			var query = "?text="+escape(subtitleText+" "+emotion)+"&url="+newImgUrl;
			
			twitterButtonHTML = twitterButtonHTML.replace('[query]',query)

			//img_small.parentNode.appendChild(twitterButtonHTML);
			
			$('#gallery').append(twitterButtonHTML);



		});

		

	}


	
	
	// TODOs
	// tweet the images and the text to twitter, as a 'twitter card'
});	

	var postImageUrl = "http://localhost:3000/save-image";
	var postUrlStub = "http://localhost:3000";

	function makeGif(){
		var images = $('#gallery div img');
		var width = 480;
		var height = 270;
		var frameDelay = 250;
		var base64Gif = convertImagesToAnimatedGif(images, width, height, frameDelay);

		$('#gif').append('<img id="#animatedgif" src="'+base64Gif+'"/>');

		return;
		var postData = {image:base64Gif.replace('data:image/gif;base64,',''),extension:"gif"};
		
		$.post( postImageUrl, postData, function( jsonResult ) {
			
			// add tweet button
			var newImgUrl = postUrlStub+jsonResult.url;

			var message = "Me watching 4oD";
			var query = "?text="+escape(message)+"&url="+newImgUrl;
			
			twitterButtonHTML = twitterButtonHTML.replace('[query]',query)

			$('#results').append(twitterButtonHTML);

		});
	}

	function convertImagesToAnimatedGif(imageElements, width, height, frameDelay){

		var encoder = new GIFEncoder();
		encoder.setRepeat(0); //auto-loop
		encoder.setDelay(frameDelay);
		encoder.setSize(width,height);

		var canvas = document.createElement("canvas");
		canvas.width = width;
		canvas.height = height;
		var context = canvas.getContext('2d');

		encoder.start();

		for (var i=0; i<imageElements.length; i++){
			context.clearRect(0,0,width,height);
			context.drawImage(imageElements[i], 0, 0);
			encoder.addFrame(context);
		}

		encoder.finish();


		var binary_gif = encoder.stream().getData();
  		return 'data:image/gif;base64,'+encode64(binary_gif);

	}
	
</script>

<!--[if IE]>
<script src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
<script>CFInstall.check({mode: 'overlay'});</script>
<![endif]-->