<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<title>Hackathon Camera test 1</title>
<style>
html, body {
  margin: 0;
  padding: 0;
  background: none repeat scroll center top #293337;
}

#main-wrapper{width:1092px;margin:0 auto;background:-moz-linear-gradient(left,#293337 0,#152428 5%,#152428 95%,#293337 100%);background:-webkit-gradient(linear,left top,right top,color-stop(0%,#293337),color-stop(5%,#152428),color-stop(95%,#152428),color-stop(100%,#293337));background:-webkit-linear-gradient(left,#293337 0,#152428 5%,#152428 95%,#293337 100%);background:-o-linear-gradient(left,#293337 0,#152428 5%,#152428 95%,#293337 100%);background:-ms-linear-gradient(left,#293337 0,#152428 5%,#152428 95%,#293337 100%);background:linear-gradient(left,#293337 0,#152428 5%,#152428 95%,#293337 100%);}

#content-wrapper {
	background: linear-gradient(to bottom, #000000 0px, #18242C 432px, #18242C 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	width: 1000px;
	margin: 0px auto;
	min-height: 600px;
}

video, canvas {
	display: none;
}

#iframe_player_wrapper, #video_wrapper {
	width: 643px;
	height: 410px;
	position: relative;
	overflow: hidden;
	margin: 20px 0px 0px 30px;
	float: left;
}

iframe#iframe_player {
	position: absolute;
    top: -280px;
    left: -320px;
    width: 1280px;
    height: 1200px;
}

#gallery {
	width: 270px;
	background: #202c30;
	float: right;	
	height: 500px;
	overflow-x: hidden;
	overflow-y: scroll;
	margin: 27px 30px 30px 0px;
}

#gallery img, #gallery p {
	width: 230px;
}

#gallery div {
	width: 320px;
	margin-right: 30px;
	float: left;
}

#tweet_this {
	
	float: left;
	
}

#reaction_bar {
	width: 643px;
	background: red;
	margin-left: 30px;
	float: left;
	margin-top: 30px;
}

.spacer {
	clear: both;
	width: 100%;
	height: 1px;
}

</style>
</head>
<body>
{{{body}}}
</body>
</html>