<!DOCTYPE html>
<meta charset="utf-8">

<link href="/stylesheets/nv.d3.css" rel="stylesheet" type="text/css">

<style>

    body {
        overflow-y:scroll;
        font-family: 'Trebuchet MS';
        padding: 20px;
    }

    text {
        font: 12px sans-serif;
    }

    #chart1 {
        height: 200px;
        width: 300px;
    }

    #chart2 {
        height: 250px;
        width: 1000px;
    }

    .nvd3 .nv-groups path.nv-line {
        stroke-width: 5px;
        stroke-linecap: round;
        shape-rendering: geometricPrecision;
    }

</style>
<body class='with-3d-shadow with-transitions'>


<br /><br /><br /><br /><br />
<div>
    <svg id="chart2"></svg>
</div>

<div>
    <!--<svg id="chart2"></svg>-->
</div>

<div>
    {{#each results}}
    <h1>{{{subtitle}}}</h1>
    {{/each}}
</div>

<script src="/js/lib/d3.v3.js"></script>
<script src="/js/lib/nv.d3.js"></script>
<script>


    var reactions = {{{json wormData}}}
    var subtitles = {{{json subtitles}}}

    var colors = {"Sentiment": "#6D368F"};
    keyColor = function(d, i) {return colors[d.key]};

    var chart;


    nv.addGraph(function() {
        chart = nv.models.lineChart()
            // .width(600).height(500)
                .useInteractiveGuideline(true)
                .x(function(d) { return d[0] })
                .y(function(d) { return d[1]; })
                .color(keyColor)
                .transitionDuration(100)
                .showXAxis(false)
                .showLegend(false)
                .interpolate("cardinal");
        //.clipEdge(true);
        
// chart.stacked.scatter.clipVoronoi(false);

        d3.select('#chart2')
                .datum(reactions)
                .transition().duration(200)
                .call(chart);

        nv.utils.windowResize(chart.update);

        chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });

        return chart;
    });


    function minsAndSecs(ms)
    {
        return '' + Math.floor((ms / 1000)  / 60) + 'm' + Math.floor((ms / 1000) % 60) + 's';
    }


</script>
